body {
    min-height: 2000px;
}

.navbar-static-top {
    margin-bottom: 19px;
}

#footer {
    clear: both;
    font-size: 0.7em;
    text-align: center;
}

#map {
    height: 600px;
}

.pheno_1 {
    background-color: rgba(52, 128, 23, 0.7);
}

.pheno_12 {
    background-color: rgba(65, 163, 23, 0.7);
}

.pheno_23 {
    background-color: rgba(247, 93, 89, 0.7);
}

.pheno_3 {
    background-color: rgba(246, 40, 23, 0.7);
}

. in_box {
    padding-left: 10px;
    padding-right: 10px;
}



.blastResultBox {
    border: 1px solid gray;
    margin: 10px 10px;
    padding: 10px;
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0;
}

.blastPosition {
    font-size: 11.5px;
}

div.sectionDivider {
    text-align: right;
    border-bottom: 1px solid #999;
    margin-bottom: 5px;
    padding-top: 12px;
    background: #FFF;
    font-weight: bold;
    color: #666666;
}

div.sectionDivider:hover {
    background: #cccccc;
}

div.sectionDivider a {
    text-decoration: none;
}

.toggleLeft {
    float: right;
    margin-top: 3px;
    margin-left: 4px;
    width: 12px;
    height: 12px;
    background: url(../images/toggle-left.png) no-repeat;
}

.toggleRight {
    float: left;
    margin-top: 3px;
    margin-right: 4px;
    width: 12px;
    height: 12px;
    background: url(../images/toggle-right.png) no-repeat;
}

.toggleLeftDown {
    float: right;
    margin-top: 3px;
    margin-left: 4px;
    width: 12px;
    height: 12px;
    background: url(../images/toggle-down.png) no-repeat;
}

.toggleRightDown {
    float: left;
    margin-top: 3px;
    margin-right: 4px;
    width: 12px;
    height: 12px;
    background: url(../images/toggle-down.png) no-repeat;
}